[submodule "Prueba-de-subida"]
	path = Prueba-de-subida
	url = https://github.com/alejandraBarreto2002/Prueba-de-subida
	branch = main
[submodule "weblumynotes"]
	path = weblumynotes
	url = https://github.com/alejandraBarreto2002/weblumynotes.git
